@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Ooopssss... You are right..!!!</h1>
<h2 class="text-danger"> An error occurred while processing your request.</h2>

<h3 class="text-danger">It has been captured by technical team for a quick action.</h3>

<h3 class="text-danger"> Sorry, please try again. Thank you...</h3>
